.navigate {
    position: fixed;
    bottom: 1.4em;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 450px;
    backdrop-filter: blur(12px);
    padding: 1.25rem;
    z-index: 11000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigate__anclas {
    font-size: 1.2rem;
    margin: 0 16px;
    transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
}

.navigate__punto {
    font-size: 1rem;
    margin: 0 16px;
}

.navigate__correo {
    margin: 0 16px;
    font-family: var(--font-familyCode);
}

.github:hover {
    color: gray;
}
.linke:hover {
    color: rgb(68, 131, 190);
}

.wsp:hover {
    color: var(--green);
}