
.hab {
    max-width: 1344px;
    margin: 0 auto;
}
.hab__card {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 2em 0;
    padding: 2em 0;
}

.hab__card-info {
    padding: 3.2em 1.5em;
    overflow: hidden;
    color: var(--purpleBackground);
    background-color: var(--yellow);
    position: relative;
}
.hab__card-title {
    font-size: 3rem;
    padding: 0.5em 0 0.5em 0;
}
.har__card-header {
    display: flex;
    flex-direction: column;
    max-height: 200px;
}

.hab__card-script {
    font-family: 'Mirza', cursive;
    font-size: 3rem;
    line-height: 0.7;
}
.hab__card-parrafo {
    max-width: 350px;
    z-index: 3;
    font-size: 1.25rem;
    line-height: 1.3;
}

.span-años {
    background-color: var(--softRed);
}
.span-developer {
    background-color: var(--greenPastel);
}
.span-stack {
    background-color: var(--purple);
}
.skill {
    width: 300px;
    position: absolute;
    right: -20%;
    bottom: -10%;
    z-index: 1000;
}

/*Iconos */
.hab__body ul {
    max-width: 360px;
    margin: 4em 2.3em 2em;
    gap: 14px 11px;
}
.hab__flexContent {
    display: flex;
    flex-wrap: wrap;
}
.hab__flexContent > li {
    font-family: "Inter-Medium", sans-serif;
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.8em 0.5em 0.7em;
    border: 2px solid;
    font-size: 1.05em;
}

/* Tamaño de los iconos */
.hab__bx {
    font-size: 1.3rem;
}
/*JAVASCRIPT*/
.hab__js {
    color: var(--yellow);
    border-radius: 0 1em 1em 0;
}
/*HTML*/
.hab__html {
    color: var(--htmlOrang);
    border-radius: 1em 0 0 1em;
}
/* GIT */
.hab__git {
    color: var(--git);
    border-radius: 0.3em;
}
/* CSS */
.hab__css {
    color: var(--cssBlue);
    border-radius: 1.1em;
}
/* React */
.hab__react {
    color: var(--reactSky);
    border-radius: 1.1em;
}
/*NodeJs*/
.hab__nodejs {
    color: var(--nodeGreen);
    border-radius: 0.2em 0  0 0.5em ;
}

/*Tailwind*/
.hab__tailwind {
    color: var(--phBlue);
    border-radius: 0 0 0.5em 0;
}

/*postgresql*/
.hab__postgresql {
    color: var(--phBlue);
    border-radius: 0.5em 0 0 0;
}

/*Icon arrow*/
.hab__arrowTamaño {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    font-size: 2em;
    border-radius: 50%;
    color: var(--purpleBackground);
}

.hab__arrow1 {
    background-color: var(--purple);
}
.hab__arrow3 {
    background-color: var(--greenPastel);
}
.hab__arrow4 {
    background-color: white;
}

/*icon especiales*/
.hab__flexContent > .hab__arrow2 {
    background: linear-gradient(215deg, #eb5e33 0%, #ff7768 17%, #a665fa 39%, #32c5ff 60%, #1dc484 80%);
    color: var(--purpleBackground);
    width: 80px;
    padding: 0;
    padding-right: 1em;
    border-radius: 0.6em;
}
.bx-right-arrow-alt {
    font-size: 2em;
}

.hab__cooffe{
    color: var(--purpleBackground);
    background-color: var(--pink);
    padding-left: 2px;
}


@media (min-width: 800px) {
    .hab__card {
        display: flex;
        justify-content: space-between;
        gap: 3em;
        margin-top: 3.5em;
        margin-bottom: 3.5em;
        padding: 7em 3em 4em 3em;
        flex-direction: column;
    }
    .hab__card-info {
        padding: 2em 1.5em;
        height: 440px;
        border-radius: 2px;
    }
    .hab__body ul {
        gap: 20px 15px;
    }

    .hab__card-title{
        padding-top: 0;
        font-size: 2.5rem;
    }
}

@media (min-width: 1000px) {

    .hab__card {
        flex-direction: row;
    }

    .hab__card-info {
        padding: 2.5rem 3rem;
        height: 460px;
    }
    .hab__body ul {
        max-width: 400px;
    }
}

@media (min-width: 1400px) {
    .hab__card-info {
        padding: 2.5rem 3rem;
        width: 520px;
    }

    .hab__card-parrafo {
        max-width: 400px;
    }

    .hab__card-script {
        font-size: 5rem;
    }
}
