.home__contenedor {
    position: relative;
    overflow: hidden;
    padding: 3.4em 2em 7em 2em;
    margin: 8vh auto;
    scroll-margin-top: 5rem;
    max-width: 1210px;
}

.home__tittle {
    max-width: 320px;
    word-wrap: break-word;
    font-size: 3rem;
    margin: 2rem 0;
    white-space: pre-line;
    color: var(--letrasHome);
}

.home__tittle>.nombre {
    color: var(--resaltBlue);
}

.home__tittle>.punto {
    color: var(--greenSpan);
}

.home__nav {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 1.6em;
    margin-top: 4em;
}

/* Section de botones */
.home__btn {
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0.7em 1em;
    margin-left: 0;
    gap: 0.5em;
    font-size: 1.1rem;
    border-radius: 2px;
    transition: all 0.3s ease;
    position: relative;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
    transition: all 0.5s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.home__btn{
    background-color: transparent;
    transition: color .5s ease-in-out;
    z-index: 1;
}

.home__btn::before {
    content: '';
    width: 0;
    height: 370%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: width .5s ease-in-out;
    display: block;
    z-index: -1;
}

.home__btn:hover::before {
    width: 105%;
}

.btn_proyectos {
    color: var(--resaltBlue);
    outline: 1px solid var(--resaltBlue);
}

.btn_proyectos::before {
    background: var(--resaltBlue);
}

.btn_proyectos:hover {
    color: #1d1d1d;
}

.btn_cv {
    outline: 1px solid var(--white);
    color: var(--purpleBackground);
    background: var(--white);
}

.btn_cv:hover {
    color: var(--white);
}

.btn_cv::before {
    background: var(--purpleBackground);
}


/*Img de fondo*/
.home__portada-img {
    position: absolute;
    left: 55%;
    bottom: 0;
    width: 380px;
    z-index: -1;

}

@media (min-width:600px) {
    .home__contenedor {
        padding: 4em 2em 7em;
    }

    .home__tittle {
        max-width: 400px;
        font-size: 3.5rem;
    }

    .home__portada-img {
        left: 53%;
        width: 400px;
    }
}

@media (min-width:900px) {
    .home__contenedor {
        margin: 9vh auto;
        padding: 5em 2em 7em 2em;
    }

    .home__portada-img {
        left: 55%;
        width: 450px;
    }

    .home__tittle {
        font-size: 3.6rem;
    }

    .home__portada-img {
        left: 55%;
        width: 450px;
    }
}

@media (min-width:1100px) {

    .hab__flexContent > li {
        font-size: 1.4rem;
    }


    .hab__arrowTamaño {
        width: 50px;
    }

    .home__contenedor {
        padding: 7em 3em 6em;
    }

    .home__tittle {
        max-width: 440px;
        font-size: 4rem;
    }

    .home__portada-img {
        left: 58%;
        width: 500px;
        bottom: 0%;
    }
}
