
.header__contenedor {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.header__navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 0.6em 1.5em;
    z-index: 2000;
    background-color: var(--menuPurple);
}

.logo {
    width: 60px;
}


.header__info {
    background-color: var(--menuPurple);
    backdrop-filter: blur( 4.5px );
    position: absolute;
    left: 110%;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    top: 3.2em;
    height: 100vh;
    width: 100%;
    transition: left 0.4s ease;
}
.header__info-show {
    left: 0;
}

.header__info-anclas {
    text-align: start;
    padding: 1em 1em;
}

.header__info-anclas > a {
    padding: 0.5em 1em;
    color: #cbd5e1 ; 
}
.header__info-ancla--span {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding-bottom: 2px;
}
.header__info-ancla--span::before {
    content: '';
    width: 50%;
    position: absolute;
    background-color: white;
    height: 1px;
    bottom: 1px;
    left: -50%;
    transition: left 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}

.header__info-ancla--span::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    right: -50%;
    bottom: 1px;
    background-color: white;
    transition: right 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}
.header__info-anclas > a:hover .header__info-ancla--span::before {
    left: 0;
}
.header__info-anclas > a:hover .header__info-ancla--span::after {
    right: 0;
}

/*ICON*/
.header__icon-menu {
    background: none;
    color: var(--white);
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}
.close {
    display: none;
}
/* Efect Sombras */
.menu-backdrop {
    position: absolute;
    background-color: #ffffff21;
    border-radius: 2em;
    transform: translateX(var(--left)) translateY(var(--top));
    left: 0;
    top: 0;
    width: var(--width);
    height: var(--height);
    transition: transform 0.5s cubic-bezier(0.85, 0, 0.15, 1);
    opacity: 1;
    z-index: 1;
}


@media (min-width: 850px) {
    .header__icon-menu { /* Ocultar icons*/
        display: none;
    }
    .header__info-anclas {
        padding: 0 0.5em;
        font-size: 1.1rem;
    }
    .header__navbar{ 
        backdrop-filter: blur(1px);
    }
    .header__info {
        position: static;
        width: max-content;
        flex-direction: row;
        height: auto;
        gap: 0;
        background: none;
        backdrop-filter: none;
        font-size: 1.04rem;
    }

}
@media (min-width:1000px) {

    .header__navbar{
        padding: 1em 1.5em;
    }

    .header__info {
        background: none;
        backdrop-filter: none;
        font-size: 1.07rem;
    }
}