
.projects__content {
    background-color: var(--fondoProyectCard);
    background-image: url('/backgroundFondo.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em;
    gap: 2em;
    margin: 3em 0;
}
.projects__titulo {
    font-size: 3rem;
}

.projects__content-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    width: 100%;
}


/*Card*/
.projects__Card {
    border-radius: 0.5em;
    overflow: hidden;
    width: 370px;
    background-color: var(--cardColor);
    display: flex;
    flex-direction: column;
    color: #999;
}

.projects__ImgContent {
    height: auto;
}

.projects__ImgContent > img{
    width: 100%;
    height: 280px;
    transition: transform 1s ease-in-out;
}

.projects__ImgContent > img:hover {
    transform: scale(1.1);
}

.projects__body {
    padding: 1em;
    flex-grow: 1;
}
.projects__body-header {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0 0.5em;
    align-items: center;

}
.projects__body-titulo {
    letter-spacing: 1px;
    font-weight: 100;
}

.projects_content-anclas {
    display: flex;
    gap: 1em;
}


.projects__anclas {
    border: 1px solid #999;
    color: #999;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 39px;
    font-size: 1.2rem;
    transition: transform 0.5s ease-in-out,
        border 0.5s ease-in-out,
        color 0.5s ease-in-out;
}

.projects__anclas:hover {
    transform: scale(1.05);
    border: solid 1px#cfcfcf;
    color: #cfcfcf;
}

@media (min-width:1100px) {

    .projects__Card {
        display: flex;
        flex-direction: column;
    }

    .projects__content {
        gap: 4em;
    }

    .projects__titulo {
        font-family: var(--font-familyBackToTop);
        font-size: 2.3rem;
    }

    .projects__content-body {
        max-width: 1500px;
        gap:6em;
    }

    .projects__Card {
        width: 390px;
    }

    .projects__ImgContent > img  {
        height: 300px;
    }

    .projects__body-header {
        margin-top: 0;
    }

    .projects__body-titulo{
        font-size: 1.2rem;
        color: var(--letrasNavbar);
    }

    .projects__anclas{
        font-size: 1.3rem;
    }

    .projects__body  {
        padding-top: 1.2em;
    }

    .projects__parrafo {
        line-height: 1.5;
    }
}