.btt {
    position: fixed;
    bottom: 0.8em;
    right: 1em;
    font-family: 'Aboreto', cursive;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1rem;
    z-index: 11000;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.mostrar__bbt {
    opacity: 0;
    visibility: hidden;
}

.btt  > a  {
    display: flex;
    gap: 0.5em;
}
.btt  > a > i {
    font-size: 1em;
}

@media (min-width: 700px) {
    .btt {
        bottom: 1.4em;
    }
}

@media (min-width:1000px) {
    .btt {
        font-size: 1rem;
    }
}