@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Kanit:wght@300&family=Mirza:wght@400;500&family=Rajdhani&family=Roboto:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

figure {
  margin: 0;
  padding: 0;
}

:root {
  --font-familycurva: 'Mirza';
  --font-family: 'Roboto Slab', serif;
  --font-familyContact: 'Kanit', sans-serif;
  --font-familyCode:'Rajdhani', sans-serif;
  --font-familyBackToTop: 'Aboreto', cursive;
}
body {
  color: var(--white);
  background-color: var(--purpleBackground);
  font-family: var(--font-familycurva);
}
li {
  list-style-type: none;
}


