@import url('https://fonts.googleapis.com/css2?family=Mirza&family=Roboto+Slab:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --font-familycurva: 'Mirza';
  --font-family: 'Roboto Slab', serif;
  --font-familyContact: 'Kanit', sans-serif;
}
body {
  color: var(--white);
  background-color: var(--purpleBackground);
  font-family: var(--font-familycurva);
}
li {
  list-style-type: none;
}